<!DOCTYPE html>
<html lang="en">

<head>

  <title>Search Results</title>
  <link href="https://fonts.googleapis.com/css2?family=Helevectiva:wght@200&display=swap" rel="stylesheet">
  <link href="/styles/reset.css" rel="stylesheet">
  <link href="/styles/base.css" rel="stylesheet">
  <link href="/styles/layout.css" rel="stylesheet">
  <link href="/styles/modules.css" rel="stylesheet">
</head>

<body class="showPage">

  <header id="best">Best Books!</header>

  <h1 id="bar">Search Results</h1>

  <% books.forEach(book=> { %>
    <div class="selection-container">
      
      <form action="/books" method="POST">

        <img src="<%= book.img_url %>" alt="">
        <p > <%= book.title %> </p>
        <p> <%= book.authors %> </p>
        <article> <%= book.desc %> </article>

        <input type="hidden" name="author" value="<%= book.authors %>" >
        <input type="hidden" name="title" value="<%= book.title %>" >
        <input type="hidden" name="img" value="<%= book.img_url %>" >
        <input type="hidden" name="description" value="<%= book.desc %>" >
        <input type="hidden" name="isbn" value="<%= book.isbn %>" >
        <input type="hidden" name="bookshelf" value="<%= book.bookshelf %>">

        <button type="submit">Save</button>
      </form>
    </div>
  <% }) %>


</body>

</html>